<%- include("../partials/_nav") %>

<section class="signUp-form">
  <h1>Create a New Account</h1>
  <% if(typeof errMsg !== 'undefined') {%>
  <h2 id="errMsg"><%=errMsg%></h2>
  <% }%>

  <form action="/auth/sign-up" method="POST" enctype="multipart/form-data">
    <label for="email">email</label>
    <input type="text" name="email" required />
    <br />
    <label for="username">Username</label>
    <input type="text" name="username" required />
    <br />

    <label for="profilePicture">Profile Picture</label>
    <input type="file" name="profilePicture" accept="image/*" required />
    <br />

    <label for="password">Password</label>
    <input type="password" name="password" required />
    <br />

    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" required />
    <br />

    <button type="submit">Sign up</button>
  </form>
</section>
