<%- include("../partials/_nav") %>

<section class="signUp-form">
  <h1>Create a New Account</h1>

  <form action="/auth/sign-up" method="post" enctype="multipart/form-data">
    <label for="username">Username</label>
    <input type="text" name="username" required />
    <br />

    <label for="profilePicture">Profile Picture</label>
    <input type="file" name="profilePicture" accept="image/*" />
    <br />

    <label for="password">Password</label>
    <input type="password" name="password" required />
    <br />

    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" required />
    <br />

    <button type="submit">Sign up</button>
  </form>
</section>
