<%- include("../partials/_nav") %>

<section class="signIn-form">
  <h1>Login to your user</h1>
  <form action="/auth/sign-in" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" required />
    <br />

    <label for="password">Password</label>
    <input type="password" name="password" required />
    <br />

    <button type="submit" name="login">Login</button>
  </form>
</section>
