<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<%- include('../partials/_nav') %>

<section class="profileInfo-edit">
  <h1>Edit Profile</h1>
  <form
    action="/profile?_method=PUT"
    method="POST"
    enctype="multipart/form-data"
  >
    <% if(typeof errMsg !== 'undefined') {%>
    <h2 id="errMsg"><%=errMsg%></h2>
    <% }%>
    <label for="username">Username</label>
    <input type="text" name="username" value="<%= profile.username %>" />
    <br />

    <label for="email">Email</label>
    <input type="text" name="email" value="<%= profile.email %>" />
    <br />
    <label for="profilePicture">Profile Picture</label>
    <input type="file" name="profilePicture" accept="image/*" />
    <br />
    <input type="password" name="oldPassword" placeholder="Old Password" />
    <br />
    <input type="password" name="newPassword" placeholder="New Password" />
    <br />
    <input
      type="password"
      name="confirmPassword"
      placeholder="Confirm New Password"
    />
    <br />
    <button type="submit">Update</button>
  </form>
</section>

<!-- <form action="/profile" method="get"> -->
