<%- include("../partials/_nav") %>
  <link rel="stylesheet" href="style.css">

  <body>
    <div class="profile-page">
      <div class="container2">
        <div class="section-left">
          <h2>Profile Info</h2>
          <img src="<%= user.profilePicture %>" alt="Profile Picture" class="picture" />
          <br>
          <p>Your username: <%= user.username %>
          </p>
          <p>Your email: <%= user.email %>
          </p>
          <button type="button" class="edit-button">Edit profile
            <a href=""></a>
          </button>

        </section>
        </div>
        <div class="section-right">
          <h2>Dashboard</h2>
        </div>
      </div>

      <section class="show-History"><h2>History</h2></section>

    </div>






  </body>