<%- include("../partials/_nav") %>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Your Profile</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body id="profile-body">
  <div class="profile-page">
    <div class="profile-container">
      <h1>Profile</h1>
      <!-- Left Column -->
      <div class="profile-info">
        <img
          src="<%= user.profilePicture %>"
          alt="Profile Picture"
          class="profile-picture"
        />
        <h2><%= user.username %></h2>
        <p><strong>Email:</strong> <%= user.email %></p>
        <a href="/profile/edit">
          <button class="edit-button">Edit Profile</button>
        </a>
      </div>

      <!-- Right Column
      <div class="profile-chart">
        <canvas id="myChart"></canvas> -->
      </div>
    </div>
  </div>
</body>
