<%- include("../partials/_nav") %>
  <link rel="stylesheet" href="style.css">

  <body>
    <div class="profile-page">

      <section class="show-profile-section">
        <h3>Profile Info</h3>
        <%= user.username  %>
        <%= user.email  %>
      </section>


      <section class="show-Dashboard-section">


      </section>

      <section class="show-History"></section>

      <section class="show-Dashboard-section"></section>
    </div>






  </body>