<%- include('../partials/_nav') %>

<section class="new-book-form">
  <p>
    I, <b><%= borrower.borrowerName %></b>, Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Magni, at iste a sunt dicta minima est
    repudiandae voluptate velit consectetur vero ex explicabo saepe fuga
    obcaecati optio quidem, quisquam nobis! Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Ipsa quia optio cupiditate aspernatur alias
    pariatur et error assumenda, ipsum excepturi illo deleniti dolorem eveniet
    delectus omnis veniam dignissimos perferendis maiores? Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Unde, earum ipsum? Illum rerum inventore
    sed. Possimus nemo repudiandae, exercitationem iste eius ut molestiae
    adipisci commodi hic, eaque architecto, similique fugit. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Rem temporibus est neque enim fugit
    qui dolores, perferendis, dolorem repellat possimus officia praesentium!
    Fuga, impedit accusamus. Delectus eaque illum deserunt sed. Lorem ipsum
    dolor, sit amet consectetur adipisicing elit. Commodi rerum ipsum iusto amet
    explicabo aliquid quasi veritatis facilis magni, earum voluptatibus
    cupiditate consequuntur optio quae placeat cumque nesciunt molestias dolor?

    <br />
    <br />
    <a href="/books"><button class="confirm-btn">I Confirm</button></a>
  </p>
</section>
