<%- include('../partials/_nav') %>

<section class="confirm-book-borrow">
  <p>
    I, <b><%= borrower.borrowerName %></b>, solemnly swear to return the book by
    at the specified date. Should I fail to uphold this sacred pact, I shall owe
    Hussain a glorious Chicky Chicken meal from James — no excuses, no
    extensions.

    <br />
    <br />
    <a href="/books"
      ><button class="confirm-btn">Book Borrowed, Chicken at Risk</button></a
    >
  </p>
</section>
