  <!-- Navigation Bar Section -->
  <nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand d-md-none" href="#">
        <svg class="bi" width="24" height="24"><use xlink:href="#aperture"></use></svg>
        Bookly
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body ">
          <ul class="navbar-nav flex-grow-1 justify-content-center align-items-center gap-lg-5 gap-sm-3">
            
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="">Books</a></li>
            <li class="nav-item"><a class="nav-link" href="">Return</a></li>
            <li class="nav-item"><a class="nav-link" href="">Borrowed</a></li>
            <li class="nav-item"><a class="nav-link" href="">Profile</a></li>

            <!-- add if conditional here -->
            <div class="text-end">
              <a class="btn btn-warning me-2" href="/auth/sign-in">Login</a>
              <a class="btn btn-warning me-2" href="/auth/sign-up">Register</a>
            <!-- add if conditional here -->

              <a class="btn btn-warning" href="/auth/sign-out">Log Out</a>

          </ul>
        </div>
      </div>
    </div>
  </nav>
<!-- End of Navigation Bar Section -->