<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="stylesheets/style.css" />

    <title>Bookly</title>
  </head>
  <body>
    <%- include("./partials/_nav.ejs") %>
    <!-- Hero Section -->
    <div class="container my-5">
      <div
        class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
      >
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold lh-1 text-body-emphasis">
            Pesonal library Management system 
          </h1>
          <p class="lead my-4">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga
            ratione impedit iure? Voluptatem quaerat ipsa perspiciatis qui,
            repellat facilis eveniet possimus in, esse magnam nam similique
            neque commodi iusto enim?
          </p>

          <div
            class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
          >
            <a href="/books" class="btn px-4 me-md-2 fw-bold btn-lg btn-primary"
              >Your Collection</a
            >
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img
            class="rounded-lg-3"
            src="images/nick-fewings-f2Bi-VBs71M-unsplash.jpg"
            alt=""
            width="720"
          />
        </div>
      </div>
    </div>
    <!-- <section class="all-books">
    
  </body>
</html>
